@{
    ViewData["Title"] = "Home Page";
}

<h2>Alineando texto</h2>

<p class="text-start">Texto a la izquierda.</p>

<p class="text-center">Texto en el centro.</p>

<p class="text-end">Texto a la derecha.</p>


<p class="text-sm-center center">Texto centralizado en pantallas pequeñas o más grandes.</p>
<p class="text-md-center center">Texto centralizado en pantallas medias o más grandes.</p>
<p class="text-lg-center center">Texto centralizado en pantallas grandes o más grandes.</p>
<p class="text-xl-center center">Texto centralizado en pantallas extra-grandes o más grandes.</p>


<h2>Texto dentro de su contenedor</h2>

<div class="badge bg-primary text-wrap" style="width: 6rem;">
    Este texto no se sale de su contenedor
</div>


<div class="badge bg-primary text-wrap text-break" style="width: 6rem;">
    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</div>


<h2>Transformando texto</h2>
